.hedH1{
  width:100%;
  max-width: 1470px;
  margin: 0 auto;
  background: linear-gradient(purple,rgb(32,32,32));
  
}
body{
  background-color:rgb(32,32,32);
}
.hedH1 h1{
  font-family:sans-serif;
  color:white;
}
p{
  text-align:center;
  font-size:30px;
}
a{
  font-family:sans-serif;
  color:white;
  text-align:center;
  border:2px, solid , white;
  background-color:rgb(32,32,32);
}
.imagebox{
  background-image:https://avatars.mds.yandex.net/get-ott/223007/2a0000019426272aa8e3015b7a45b191ca8b/375x375;
}
iframe{
  border:2px solid red;
}
h2{
  text-align:center;
  color:white;
}
header{
  border-top:2px solid pink;
  border-left:2px point pink;
  border-right:2px point pink;
}
