header{
  width:100%;
  max-width: 1470px;
  margin: 0 auto;
  background: linear-gradient(purple,rgb(32,32,32));
}
body{
  background-color:rgb(32,32,32);
}
.hedH1 h1{
  font-family:sans-serif;
  color:white;
}
header a{
  font-family:sans-serif;
  color:white;
}
