.hedH1{
  background: linear-gradient(purple,rgb(32,32,32));
}
body{
  background-color:rgb(32,32,32);
}
.hedH1 h1{
  font-family:cursive;
  color:white;
}
p{
  text-align:center;
  font-size:30px;
}
a{
  font-family:sans-serif;
  color:white;
  text-align:center;
  border:2px, solid , white;
  background-color:rgb(32,32,32);
  border-radius:15px;
  padding:5px;
  text-decoration:none;
}
.imagebox{
  background-color:rgb(42,42,42);
  border:2px dashed purple;
}
iframe{
  border:5px ridge red;
}
h2{
  text-align:center;
  color:white;
}
header{
  border-top:4px dashed rgb(108,70,117);
  border-left:4px dotted purple;
  border-right:4px dotted purple;
  margin: -7px;
}
footer{
  border:2px solid white;
  border-radius:10px;
  color:white;
}
